img {
  height: 500px;
  width: 500px;
}

.invisible {
  display: none;
}

.container {
  background-color: rgb(220, 113, 113);
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.btn-format {
  display: flex;
}
